header .navbar {
  background-color: transparent !important;
}

a{
  text-decoration: none !important;
}

.card img{
	height: 260px !important;
	object-fit: cover;
}    

.card {
	border:none !important;
}

a:hover {
	background-color: #F9F222;
}